astropy >= 3.0.3
easyaccess == 1.4.7
json
mpi4py >= 3.0.0
mpich2 == 3.3.2 (should be included when getting mpi4py)
numpy == 1.18.1
pandas == 1.0.1
pillow == 7.0.0 (this is the fork of PIL, *not* PIL itself)
python >= 3.6
pyyaml